.menu_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.sort_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.sort_button {
  outline: none;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
  padding: 6px 15px;
  border: 1.5px solid black;
  color: black;
  cursor: pointer;
}

main {
  padding-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-row-gap: 5rem;
}

@media (max-width: 935px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 735px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 535px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 335px) {
  main {
    grid-template-columns: 1fr;
  }
}