.btnCartCount {
  width: 50px;
  height: 50px;
  background: #000;
  color: #fff;
  border-radius: 15px;
  transform: rotate(2deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  cursor: pointer;
  right: 1rem;
}


.btnCartCount i {
  transform: rotate(-2deg);
}
